# Node modules
node_modules/

# Build output
dist/
build/
.tmp/

# TypeScript files
*.tsbuildinfo

# Dependency directories
jspm_packages/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editor directories
.idea/
.vscode/

# Environment files
.env
.env.local
.env.*.local

# npm package files
package-lock.json
yarn.lock

# OS-specific files
.DS_Store
Thumbs.db